<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template1}">
<head>
<meta charset="utf-8">
<title>Formation DGPCFC</title>
</head> 
<body>
	<div layout:fragment="content">
	<div class="row">
	   <div class="col-md-6 col-md-offset-3">
		   	<div class="panel panel-primary">
		   		<div class="panel-heading">probléme d'autorisation</div>
		   		<div class="panel-body">
					<div class="red">
						vous n'avez pas le droit d'accéder à la ressource
					</div>
				</div>
				</div>
		   	</div>
	   </div>
	  
	</div>
</div>
</body>
</html>