<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  layout:decorate="~{template1}">
<head>
<meta charset="utf-8">
<title>Ajouter action</title>
</head>
<body>


	<div layout:fragment="content">
			<div class="mainpanel">
		         <div class="contentpanel">
		                        
		            <div class="row row-stat">          
		                    	<div class="col-md-1" ></div>	                        
								   <div class="col-md-10" >
								
									   	<div th:if="${addactionpage}"  class="panel panel-primary">
									   		<div class="panel-heading">Ajouter action</div>
									   		<div class="panel-body">
									   		
									   		 <form th:action="@{/actionadda}" method="post">
									   			<div class="jumbotron">
											      	<div th:if="${showinput}" class="form-label-group">
											      	<div class="row">
											      	<div class="col-md-5">
											      	 <label for="inputintitule" class="label label-success" th:text="${test}"></label>
											      		 <label for="inputintitule" class="label label-success">Intitulé</label>
											      		 <input class="form-control" name="inputintitule" type="text" placeholder="Intitulé de l'action" required><br>
											      		 	
														
														<label for="inputtheme" class="label label-success">Théme</label>
														<select class="form-control" name="inputtheme">
															<option>Informatique</option>
															 <option>Multimédia</option>
															 <option>DOmaine routiére</option>
															 <option>Administratif</option>
															 <option>Juridique</option>
														</select><br>
														
														<label for="inputdate" class="label label-success">date action</label>
											      		 <input class="form-control" name="inputdate" type="date" placeholder="date de l'action" required><br>
														
														<label for="inputduree" class="label label-success">durée</label>
											      		 <input class="form-control" name="inputduree" type="number" placeholder="durée de l'action" required><br>
														
														<label for="inputsousparag" class="label label-success">Sous paragraphe</label>
											      		 <input class="form-control" name="inputsousparag" type="text" placeholder="Sous paragraphe" required><br>
															
														<label for="inputavis" class="label label-success">Avis</label>
											      		 <input class="form-control" name="inputavis" type="text" placeholder="Avis sur l'action" required><br>
											      		 
											      		 <label for="inputbureau" class="label label-success">Bureau</label>
											      		 <input class="form-control" name="inputbureau" type="text" placeholder="bureau de l'action" required><br>
											      	</div>
											      											      	
											      	<div class="col-md-1"></div>
											      	<div class="col-md-5">
											      	<label for="inputlieu" class="label label-success">Lieu</label>
											      		 <input class="form-control" name="inputlieu" type="text" placeholder="lieu de l'action" required><br>
														
														<div class="panel panel-danger">
															<h3><label class="label label-primary">cout dépense:</label></h3>
															<div class="row">
																<div class="col-md-6">
																<label for="inputorgc">organisation</label>
											      		        <input class="form-control" name="inputorgc" type="number" placeholder="cout organisation en dinart" required><br>
																</div>
																<div class="col-md-6">
																<label for="inputanc">animation</label>
											      				 <input class="form-control" name="inputanc" type="number" placeholder="cout animation" required><br>
																</div>
																
															</div>
														</div>
													
														<label for="inputformateur" class="label label-success">Formateur</label>
														<select class="form-control" name="inputformateur">
														    <option th:each="i : ${listFormateur}" th:value="${i.id}" th:text="${i.nom}">
														    </option>
														</select>
														<div class="panel panel-danger">
															<h3><label class="label label-primary">cout copération:</label></h3>
															<div class="row">
																<div class="col-md-6">
																<label for="inputorgcop">organisation</label>
											      		 		<input class="form-control" name="inputorgcop" type="number" placeholder="cout organisation cop" ><br>
																</div>
																<div class="col-md-6">
																<label for="inputanimationcop">animation</label>
											      				 <input class="form-control" name="inputanimationcop" type="number" placeholder="cout animation cop" ><br>
																</div>
																
															</div>
														</div>
														<div class="row">
														 <input type="submit" class="btn btn-primary" th:if="!${idaction}">
														</div>
														      		
											      	</div>
											      	</div>
												        
												      </div>
											      	
											      	<div th:if="${showlabel}" class="form-label-group">
											      	<div class="row">
											      	<div class="col-md-5">
											      	 <label for="inputintitule" class="label label-success" th:text="${test}"></label>
											      		 <label  class="label label-success">Intitulé</label>
											      		 <label th:text="${actiondet.intitule}"  class="form-control"></label>
											      		 	
														
														<label for="inputtheme" class="label label-success">Théme</label>
														<label th:text="${actiondet.theme}"  class="form-control"></label>
														
														<label for="inputdate" class="label label-success">date action</label>
											      		 <label th:text="${actiondet.dateaction}"  class="form-control"></label>
														
														<label for="inputduree" class="label label-success">durée</label>
											      		 <label th:text="${actiondet.duree + 'jours'}"  class="form-control"></label>
														
														<label for="inputsousparag" class="label label-success">Sous paragraphe</label>
											      		 <label th:text="${actiondet.sousparag}"  class="form-control"></label>
															
														<label for="inputavis" class="label label-success">Avis</label>
											      		 <label th:text="${actiondet.avis}"  class="form-control"></label>
											      		 
											      		 <label for="inputbureau" class="label label-success">Bureau</label>
											      		 <label th:text="${actiondet.bureau}"  class="form-control"></label>
											      	</div>
											      											      	
											      	<div class="col-md-1"></div>
											      	<div class="col-md-5">
											      	<label for="inputlieu" class="label label-success">Lieu</label>
											      		 <label th:text="${actiondet.lieu}"  class="form-control"></label>
														
														<div class="panel panel-danger">
															<h3><label class="label label-primary">cout dépense:</label></h3>
															<div class="row">
																<div class="col-md-4">
																<label for="inputorgc">organisation</label>
											      		        <label th:text="${actiondet.organisationc}"  class="form-control"></label>
																</div>
																<div class="col-md-4">
																<label for="inputanc">animation</label>
											      				 <label th:text="${actiondet.animationc}"  class="form-control"></label>
																</div>
																<div class="col-md-4">
																<label for="inputanc">totale</label>
											      				 <label th:text="${actiondet.totalec}"  class="form-control"></label>
																</div>
															</div>
														</div>
													
														<label for="inputformateur" class="label label-success">Formateur</label>
														<label th:text="${actiondet.formateur.nom}"  class="form-control"></label>
														<div class="panel panel-danger">
															<h3><label class="label label-primary">cout coopération:</label></h3>
																<div class="row">
																<div class="col-md-4">
																<label for="inputorgc">organisation</label>
											      		        <label  th:text="${actiondet.organisationcop}"  class="form-control"></label>
																</div>
																<div class="col-md-4">
																<label for="inputanc">animation</label>
											      				 <label th:text="${actiondet.animationcop}"  class="form-control"></label>
																</div>
																<div class="col-md-4">
																<label for="inputanc">totale</label>
											      				 <label th:text="${actiondet.totalecop}"  class="form-control"></label>
																</div>
															</div>
														</div>
														      		
											      	</div>
											      	</div>
												        
												      </div>
											    </div>
											 </form> 
											 <div th:if="${t}" th:text="${t}"></div>
											
											 	<div th:if="${idaction}"  class="panel panel-warning">
											   		<div class="panel-heading">Ajouter un employe à l'action <label th:text="${idaction}"></label></div>
											   		<div class="panel-body">
											   		<form th:action="@{/actionaddb}" method="get">
												      	<div class="row">
													      	<div class="col-md-3">
													      		 <input class="form-control" name="inputcnrps2" type="text" placeholder="Cnrps de l'employe" required><br>
													      		 <input class="form-control" name="inputid" type="hidden" th:value="${idaction}"><br>
									
															</div>		      	
												      		<div class="col-md-1"><input type="submit" class="btn btn-warning"></div>
													      	<div class="col-md-5"></div>
												      	</div>
												      </form>
												      </div>  
												  </div>  
									  
									   			<table th:if="${idaction}" class="table table-striped">
									   				<tr>
									   					<th width="20%"> cnrps</th>
									   					<th width="30%">Nom</th>
									   					<th width="10%">Tel</th>
									   					<th width="30%">Direction</th>
									   					<th width="30%">Grade</th>
									   					
									   				</tr>
									   												   			
									   				<tr th:each="i: ${listeutilisateur}" th:if="${listeutilisateur}">
									   					<td th:text="${i.cnrps}"></td>
									   					<td th:text="${i.nom}"></td>
									   					<td th:text="${i.tel}"></td>
									   					<td th:text="${i.direction.libelleFr}"></td>
									   					<td th:text="${i.grade.libelleFr}"></td>
									   				
									   				</tr>
									   			
									   			</table>
									   		
									   		</div>
									   	</div>
								   </div>
								   <div class="col-md-1" ></div>	  
								   
		                    </div> 
	
		                    </div><!-- contentpanel -->
		                    
		                </div><!-- mainpanel -->
	
</div>
</body>
</html>