<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  layout:decorate="~{template1}">
<head>
<meta charset="utf-8">
<title>Formation DGPCFC</title>
</head>
<body>
	<div layout:fragment="content">
			<div class="mainpanel">
		         <div class="contentpanel">
		                        
		            <div class="row row-stat">          	                        
							   <div class="col-md-9" >
							
								   	<div  class="panel panel-primary" style="margin-left: 15px;">
								   		<div class="panel-heading">Liste des actions</div>
								   		<div class="panel-body">
								   		<div th:if="${ooo}"><label th:text="${ooo}"></label></div>
								   			<div class="row" >
									   			<div class="col-md-10"></div>
									   			<div class="col-md-2">  
									   			<a th:href="@{/actionadda}" class="btn btn-info">Ajouter action</a>
								   			   </div>
								   											   			
								   			</div>
								   			<table class="table table-striped">
								   				<tr>
								   					<th width="25%">intitulé</th>
								   					<th width="15%">date action</th>
								   					<th width="5%">durée</th>
								   					<th width="20%">lieu action</th>
								   					<th width="20%">formateur</th>
								   					<th width="10%"></th>
								   				</tr>
								   				<tr th:each="o:${listeActions}">
								   				 	<td th:text="${o.intitule}"></td>
								   				 	<td th:text="${#dates.format(o.dateaction, 'dd-MMM-yyyy')}"></td>
								   				 	<td th:text="${o.duree}"></td>
								   				 	<td th:text="${o.lieu}"></td>
								   				 	<td th:text="${o.formateur.nom}"></td>
								   				 	<td><a  th:href="@{/consulterAction(idac = ${o.id})}"><img src="images/view.png" width="30px" height="30px"></a>
								   				 	<a sec:authorize="hasRole('ROLE_VALIDATEUR')" th:href="@{/consulterAction(idac = ${o.id})}"><img src="images/edit.png" width="30px" height="30px"></a></td>
								   				</tr>
								   			</table>
								   				<div th:if="${pages}" class="container">
									   				<ul class="nav nav-pills">
									   					<li th:each="p: ${#numbers.sequence(0,pages-1)}" >
									   					<a th:href="@{/home(page=${p})}" th:text="${p}"></a>
									   					
									   					</li>
									   				</ul>
									   			
									   			</div>
								   		</div>
								   	</div>
							   
							   </div>
								    <div class="col-md-3">      
								     
								       <div class="row"  style="margin-right: 15px;">
		                                <div class="panel panel-success">
		                                    <div class="panel-heading noborder">
		                                        <div class="panel-btns">
		                                            <a href="#" class="panel-close tooltips" data-toggle="tooltip" data-placement="left" title="Close Panel"><i class="fa fa-times"></i></a>
		                                        </div><!-- panel-btns -->
		                                        <div class="panel-icon"><i class="fa fa-pencil"></i></div>
		                                        <div class="media-body">
		                                            <h3 class="md-title nomargin">Chercher : </h3>	
												   				<form th:action="@{/home}">
												   					<input class="form-control" type="text" id="inputintitule" name="inputintitule" placeholder="recherche par intitulé action" required/>
												   					
												   					<input class="btn btn-primary" type="submit" value="chercher"/>
												   				</form>
												   			
		                                        </div><!-- media-body -->
		                                       
		                                    </div><!-- panel-body -->
		                                </div><!-- panel -->
		                            </div><!-- col-md-4 -->
								                
		                            <div class="row" style="margin-right: 15px;">
		                                <div class="panel panel-default">
		                                    <div class="panel-heading">
		                                      
		                                        <div class="media-body">
		                                            <h3 class="md-title nomargin">Les employes</h3>
		                                            <div class="col-md-4"><h1 th:text="${countemploye}"></h1></div>
		                                             <div class="col-md-3"></div>
		                                            <div class="col-md-5"><img src="images/users.png" class="media-object" style="width:100px; hieght:100px"></div>
		                                        
		                                        </div><!-- media-body -->
		                                    </div><!-- panel-body -->
		                                </div><!-- panel -->
		                            </div><!-- col-md-4 -->
		                            
		                               <div class="row" style="margin-right: 15px;">
		                                <div class="panel panel-info">
		                                    <div class="panel-heading">
		                                      
		                                        <div class="media-body">
		                                            <h3 class="md-title nomargin">Les actions</h3>
		                                            <div class="col-md-4"><h1 th:text="${countaction}"></h1></div>
		                                            <div class="col-md-3"></div>
		                                         	<div class="col-md-5"><img src="images/formation_icone.png" class="media-object" style="width:100px;"></div>
		                                        </div><!-- media-body -->
		                                        
		                                    </div><!-- panel-body -->
		                                </div><!-- panel -->
		                            </div><!-- col-md-4 -->
		                            
		                          
		                            </div>
		                            </div> 
		                        </div><!-- row -->
	
		                    </div><!-- contentpanel -->
		                    
		                </div><!-- mainpanel -->
	
</div>
</body>
</html>